DATABASE_URL=""
GITHUB_TOKEN=""
NODE_ENV="development"
PORT=""
LOG_LEVEL=""
NICKNAME=""
JWT_SECRET=""
REDIS_URL=""

MAIL_HOST=""
MAIL_PORT=
MAIL_USER=""
MAIL_PASS=""
MAIL_FROM=""
ROOT_EMAIL=""

ROOT_EMAIL=""
ROOT_USERNAME=""
ROOT_PASSWORD=""

